<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="HUDLAP" connectionString="Data Source=localhost; Initial Catalog=HUDLAP; User ID=lap; Password=LAP4hud!" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.0" />
	<pages>
		<namespaces>
			<add namespace="System" />
			<add namespace="System.Data" />
			<add namespace="System.Data.SqlClient" />
		</namespaces>
	</pages>
	<customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
		
	</customErrors>
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>